{% extends 'Navbar.html' %}

{%block content%}

<form action="" method=POST>
    {% csrf_token %}

    <section>
        <div classe = 'container'>
            <div class="d-grid gap-2">
                    <a type="button" class="btn btn-info" href="{% url 'graph1' %}" role="button">Menu graphique 1 </a>
                    <a type="button" class="btn btn-info" href="{% url 'graph2' %}" role="button">Menu graphique 2 </a>
                    <a type="button" class="btn btn-info" href="{% url 'graph3' %}" role="button">Menu graphique 3 </a>
            </div>
        </div>
    </section>

</form>
{%endblock%}