{% extends 'Navbar.html' %}

{%block content%}

<form action="" method=POST>
    {% csrf_token %}
    
    <table class="table caption-top">
       <div class='container align-content-center'>
        <caption>liste des imports</caption>
       </div>
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Nom</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
        </tr>
        </tbody>
    </table>
    <div class="position-relative">
        <div class="position-absolute top-50 start-50 translate-middle">
            <a type="button" class="btn btn-secondary" href={% url 'importF' %} role="button">Importer des fichiers</a>  
            <a type="button" class="btn btn-info" href="{% url 'menuDb' %}" role="button">Menu graphique</a>
        </div>
    </div>

</form>
{%endblock%}