{% extends 'Navbar.html' %}

{%block content%}
 
<form action="" method=POST>
    {% csrf_token %}
    <h2> Ventes par produits </h2>
    <div style ='width : 1000px;'>
        <canvas id="myChart"> </canva>
    </div>

    <a type="button" class="btn btn-primary" href="{% url 'top10' %}" role="button">Top 10</a>
    <a type="button" class="btn btn-primary" href="{% url 'graph1' %}" role="button">Top 5</a>

<Script> 
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for item in data  %}'{{item.nomProduit}}',{% endfor %}],
            datasets: [{
                label: 'Répartition des ventes par produits',
                data: [{% for item in data  %}'{{item.count}}',{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    
       
</script>
</form>

{%endblock%}